@model PracticaWeb.Models.VMProductoCategoria2
@{
    ViewBag.Title = "ListarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListarProducto</h2>
<h3>@Html.ActionLink("Crear Producto", "CrearProducto")</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Accion1</th>
                        <th>Accion2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaProductoCategoria)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.NombreCategoria</td>
                            <td>
                                @using (Html.BeginForm("EditarProducto", "Producto"))
                                {
                                    <button type="submit" class="btn btn-success" name="Id" value="@item.Id">Editar</button>
                                }
                            </td>
                            <td>
                                @using (Html.BeginForm("EliminarProducto", "Producto"))
                                {
                                    <button type="submit" class="btn btn-danger" name="Id" value="@item.Id">Eliminar</button>
                                }
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="col-lg-6 col-md-6">
            <h3>Filtrar productos por categoria.</h3>
            @using (Html.BeginForm("FiltroCategoria", "Categoria"))
            {
                <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" name="IdCategoria">
                        @foreach (var item in Model.ListaCategorias)
                        {
                            <option value="@item.Id">@item.NombreCategoria</option>
                        }

                    </select>

                </div>
                <button type="submit" class="btn btn-primary" >Filtrar</button>
            }

        </div>

    </div>
</div>
